<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Usuarios</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="shortcut icon" type="image/png" href="http://intranet.optimissa.com/Content/Imagenes/General/candles.png"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css"/>
<script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	<div th:replace="admin/menu :: menu"></div>
	<p class="admin-message-text text-center">Listado Usuarios</p>
	 <form th:action="@{/usuarios/crearnuevousuario}" method="GET"><button class="btn btn-primary" style="color:white;" type="submit">Nuevo Usuario</button></form>
	
	<div class="container-tabla">
	
	
	<table class="table"  data-row-style="rowStyle" data-toggle="table" data-click-to-select="true">
		  <thead class="thead-dark">
		      <tr>
		  
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Apellidos</th>
			  <th scope="col">Email</th>
			  
		      </tr>
		  </thead>
		  <tbody th:each="user : ${listUsers}">
		    <tr>
		    
		      <td th:text="${user.pk_id_usuario}" th:value="${user.pk_id_usuario}" th:field="*{ars_reservas_usu}"></td>
		      <td th:text="${user.var_nombre_usuario}" th:value="${user.var_nombre_usuario}" th:field="*{var_nombre_usuario}"></td>
		      <td th:text="${user.var_apellidos_usuario}" th:value="${user.var_apellidos_usuario}" th:field="*{var_apellidos_usuario}"></td>
		            <td th:text="${user.var_email_usuario}" th:value="${user.var_email_usuario}" th:field="*{var_email_usuario}"></td>
					<td><form th:action="@{/usuarios/borrar}" method="GET"> <button class="btn btn-primary" type="submit" th:name="id" th:value="${user.pk_id_usuario}">Borrar</button></form></td>
					<td><form th:action="@{/usuarios/modificar}" method="GET"><button class="btn btn-primary" type="submit" th:name="id" th:value="${user.pk_id_usuario}">Modificar</button></form></td>
		    </tr>		    
		  </tbody>
	</table>
	
	 
	</div>
	</div>
	<div class="container-bottom">
	
	<div class="panel-group-home">
			<div class="panel panel-primary">
				<div class="panel-heading">
					
				</div>
				<p class="admin-message-text text-center">Aplicación Reserva de Salas -V 1.0</p>
			</div>
		</div>
	</div>
</body>
</html>