<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Reservas</title>
<link rel="shortcut icon" type="image/png" href="http://intranet.optimissa.com/Content/Imagenes/General/candles.png"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css"/>
<script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body class="body">
	
	<div class="container">
	<div th:replace="admin/menu :: menu"></div>
	<p class="admin-message-text text-center">Listado Reservas para hoy <script>
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></p>
		
	<form th:action="@{/reservas/crearnuevareserva}" method="GET"><button class="btn btn-primary" style="color:white;" type="submit">Nueva Reserva</button></form>
	
	
	<div class="container-tabla">
	<!-- <div th:replace="admin/menu :: menu"></div> -->
	
<!-- 	<form th:action="@{/alumno/deleteUser}" method="POST">	 -->
	<!-- <form  th:action="@{/reservas/borrar}" method="post"> -->
	<table class="table"  data-row-style="rowStyle" data-toggle="table" data-click-to-select="true">
		  <thead class="thead-dark">
		    <tr>
		    <!--   <th sec:authorize="hasAuthority('Admin')" scope="col">Seleccionar</th> -->
					<th scope="col">Nombre Sala</th>
					<th scope="col">Fecha y hora</th>
					<th scope="col">Disponibilidad</th>
		 <!--      <th scope="col">Nombre</th>
		      <th scope="col">Descripcion</th> -->
		
		    </tr>
		  </thead>
		  <tbody th:each="reserva : ${listReservas}">
		    <tr>
		     <!--  <td  sec:authorize="hasAuthority('Admin')"><input type="checkbox" id="checkbox" th:name="idChecked" th:value="${user.usuario}"/></td> -->
					<td th:text="${reserva[0]}"  th:value="${reserva[0]}" th:field="*{reserva[0]}"></td>
					<td th:text="${reserva[1]}+' '+${reserva[2]}" th:value="${reserva[1]}" th:field="*{reserva[1]}"></td>
					<td th:text="${reserva[4]}" th:value="${reserva[4]}" th:field="*{reserva[4]}"></td>
					<td><form th:action="@{/reservas/borrar}" method="GET">
    <!-- <button class="btn btn-primary" type="submit" th:name="id" th:value="${reserva[5]}">Borrar</button> -->
    
</form> </td>
		      <!-- <td th:text="${sala.nombre}" th:value="${sala.nombre}" th:field="*{nombre}"></td>
		      <td th:text="${sala.descripcion}" th:value="${sala.descripcion}" th:field="*{descripcion}"></td> -->
		 <!--      <td th:text="${user.apellido2}" th:value="${user.apellido2}" th:field="*{apellido2}"></td> -->
		   <!--    <td th:text="${user.email}" th:value="${user.email}" th:field="*{email}"></td> -->
		    </tr>		    
		  </tbody>
	</table>
	<!-- </form> -->
	<!-- <div sec:authorize="hasAuthority('Admin')" class="botonera">
		 <button class="btn btn-success">Eliminar</button>
	</div>
	</form> -->
	 
	</div>
	</div>
	

	<div class="container-bottom">
	
	<div class="panel-group-homer">
			<div class="panel panel-primary">
				<div class="panel-heading">
					
				</div>
				<p class="admin-message-text text-center">Aplicación Reserva de Salas -V 1.0</p>
			</div>
		</div>
	</div>

</body>
</html>