
.menu {
    margin: 80 auto;
    width: 100%;
}

.menu_list {
    float: left;
    width: 100%;
}



.logout{
	float:right;
}

.botonera{
	float:right;
}

.form-group-usuario {
    margin-bottom: 15px;
    margin-top:40px;
}
.container_menu{
    width: auto;

}
.container{
    
    position: relative;
    width: 100px;
    height: 700px;
}
 .container-bottom{
     
    
    bottom: 0;
   margin-left: 14%;
   
    
    width: 70%;
    
}

.container-tabla{
  
    margin-left: 5%; 
    margin-right: 120px;
    width: 650px;
    height: 300px;
  overflow: auto;

}
/*
.container-sup{
  position: relative;
   top: 60%;
    width: 71%;
    height: 80%;
     overflow: auto;
   

} */
.btn btn-primary{
  
  left:14%;
  top:10px;
}
<!---->